.contact-container {
  margin: 4rem 0;
  position: relative;
}

.contact-container h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.contact-content {
  display: flex;
  gap: 3rem;
}

.socials-container,
.contact-form-container {
  flex: 1;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .contact-container h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .socials-container {
    padding: 1rem;
    border-radius: 1rem;
  }
}
